node_modules
dist
generated

# Keep environment variables out of version control
.env

# Firebase service account credentials
*-firebase-adminsdk-*.json
platform-notifications-9c840-firebase-adminsdk-fbsvc-38ffee63b9.json
docs
